/*----------
Fuentes
----------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*----------
Global CSS
----------*/
:root{
    --Font:#E5E5E5;
    --White:#FFFFFF;
    --Dark-Blue:#0A3871;
    --Grey:#C5C5C5;
    --Medium-Grey:#67808E;
    --RGBA:rgba(0,0,0,0.08);
    --White-Blue:#D8DFE8;
    --Medium-Blue:#0A38718A;
    --Gray:#343A40;
    --Gree:#495057;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background: var(--White);
}

::selection{
    background: var(--Dark-Blue);
    color: var(--White);
}

body{
    height: 100%;
}

img{
    max-width: 100%;
}

/*---------------
Encabezado
---------------*/
header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/*----------------
Principal
----------------*/
main{
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
}

.encriptador{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}

.encriptar{
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--Grey);
    border-radius: 15px;
    resize: none;
}

.encriptar::placeholder,:focus{
    color: var(--Dark-Blue);
}

.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.texto-aviso{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--Medium-Grey);
}

.encriptador-contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--White);
    background-color: var(--Dark-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
}

.btn-encriptar:active{
    box-shadow: inset 2px 4px var(--Font);
    inset: -3px -4px 8px var(--Dark-Blue);
    color: var(--White-Blue);
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Dark-Blue);
    background-color: var(--White-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
}

.btn-desencriptar:active{
    box-shadow: inset 2px 2px 4px var(--Dark-Blue);
    inset: -3px -4px 8px var(--Font);
    color: var(--Medium-Blue);
}

.tarjeta{
    width: 270px;
    height: 600px;
    background: var(--White);
    box-shadow: 10px 24px 32px -8px var(--Gray);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.tarjeta-contenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--Font);
}

.img-mono{
    background: var(--Font);
}

.texto-uno{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--Gray);
    background: var(--White);
}

.texto-dos{
    font-style: normal;
    font-weight: 400;
    font-family: 12px;
    line-height: 32px;
    text-align: center;
    color: var(--Medium-Grey);
    background: var(--White);
}

.evaluar{
    width: 100%;
    height: 480px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--Gree);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}

.evaluar:focus{
    outline: none;
}

.btn-encriptar:hover,
.btn-desencriptar:hover,

/*--------------
Pie de Página
--------------*/
footer {
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--Font);
    color: var(--Gray);
    text-align: center;
    height: auto; /* Cambiado a auto para permitir que el contenido se ajuste */
    font-size: 20px;
    font-weight: 700;
    position: fixed; /* Hace que el footer esté siempre visible al pie de la página */
    bottom: 0; /* Lo coloca en la parte inferior */
    left: 0; /* Alinea el footer al borde izquierdo */
    width: 100%; /* Abarca toda la anchura de la página */
    background-color: white; /* Asegura que el fondo sea visible */
}
